// includeConfig 'conf/modules.config'

params {
    excluded_types = 'doi' // space separated list of accession types to exclude
    accession_types = 'conf/accession_types.json'
    db_creds = 'conf/sqlcreds.json'
    download_url = 'https://europepmc.org/pub/databases/pmc/TextMinedTerms/'
}

profiles {
    test_local {
        executor.name     = 'local'
        cleanup           = false

        params {
            db             = 'gbc-publication-analysis:europe-west2:gbc-sql/gbc-publication-analysis-test'
            wget_options   = '-A "hipsci.csv" -A "chebi.csv" -A "metagenomics.csv" -A "intact.csv"'
            batch_size     = 5
            excluded_types = 'intact metagenomics'
        }
    }
    test_cloud {
        cleanup           = false

        workDir           = 'gs://gbc-epmc-accession-loading/nextflow-test-tm-files'
        conda.enabled     = false
        docker.enabled    = true

        params {
            db             = 'gbc-publication-analysis:europe-west2:gbc-sql/gbc-publication-analysis-test'
            wget_options   = '-A "hipsci.csv" -A "chebi.csv" -A "metagenomics.csv" -A "intact.csv"'
            batch_size     = 5
            excluded_types = 'metagenomics intact'
        }

        process {
            executor  = 'google-batch'
            container = 'docker.io/carlacummins/gbc-accessions-nextflow:v1.1'
            machineType = 'e2-small'
            // machineType = 'n1-standard-1'
            // disk = '10 GB'
        }

        google {
            project = 'gbc-publication-analysis'
            location = 'europe-west2'

            batch {
                spot = true // spot VMs are preemptible and cheaper, but can be reclaimed at any time
                network = 'my-vpc-network'  // Use the custom VPC to avoid hitting external IP quota
                subnetwork = 'my-private-subnet'  // Private subnet with NAT
                usePrivateAddress = true  // Ensures no external IPs are used
                // instanceTemplate = 'projects/gbc-publication-analysis/global/instanceTemplates/nextflow-template-n1-1-shared-disk'

            }
        }

    }
    production {
        workDir            = 'gs://gbc-epmc-accession-loading/nextflow-tm-files'
        conda.enabled      = false
        docker.enabled     = true

        executor {
            name = 'google-batch'
            queueSize = 100
        }

        params {
            db             = 'gbc-publication-analysis:europe-west2:gbc-sql/gbc-publication-analysis'
            wget_options   = '-A "*.csv"'
            excluded_types = 'doi'
            batch_size     = 5000
        }

        process {
            container = 'docker.io/carlacummins/gbc-accessions-nextflow:v1.1'
            machineType = 'e2-small'
            // machineType = 'n1-standard-1'
        }

        google {
            project = 'gbc-publication-analysis'
            location = 'europe-west2'
            batch.spot = true
            batch.bootDiskSize = '10 GB'
        }
    }
}